body {
  background-color: #f2f6d0;
  background: url("https://www.apa.org/images/widget-news_tcm7-211939.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}
#centerText {
  text-align: center;
  color: goldenrod;
  margin: auto;
  padding: 150px;
}
#title {
  -webkit-text-stroke: 1.2px black;
  font-size: 55px;
}
#subTitle {
  -webkit-text-stroke: 0.8px black;
  font-size: 30px;
}
.carousel-item {
  /* margin: auto; */
  width: 50%;
  height: 300px;
}
